@font-face {
    font-family: 'Cafe24 Decobox';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Decobox/Cafe24Decobox.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Decobox/Cafe24Decobox.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Decobox/Cafe24Decobox.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Decobox/Cafe24Decobox.ttf') format('truetype');
}
